footer{
  padding:10px 0;
background: black;
  width:100%;
  color:white ;
  .container{
.copy{
  font-size: 14px;
  display: block;
text-align: center;
  p{
    margin:6px 20px;
  }
  span{
    display:none;
  }
}
&{
  @media all and (min-width:992px){
    .copy{
      display: flex;
  justify-content: center;
  p{
    margin:0 20px;
  }
  span{
    display:inline-block;
  }
    }
  }
}
  }

}
